<h3>Event List</h3>
<hr>
<div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody *ngFor="let event of eventlist">
                <tr>
                    <td>{{event.id}}</td> <!--1 event will enter to this row  -->
                    <td>{{event.name}}</td>
                    <td>{{event.description}}</td>
                    <td><a class="btn btn-primary" routerLink="/edit/{{event.id}}">Edit</a></td>
                    <td><a class="btn btn-danger" (click) = "delete(event.id)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>